@import "tailwindcss";

:root {
  --neon-lime: #afff00;
  --deep-obsidian: #020202;
}

body {
  background-color: var(--deep-obsidian);
  color: white;
  overflow-x: hidden;
}

.shadow-inner-3d {
  shadow: inset 0 2px 4px rgba(255, 255, 255, 0.2), inset 0 -2px 4px rgba(0, 0, 0, 0.4);
}

/* ANIMATIONS */
@keyframes fadeUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-up {
  animation: fadeUp 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}

@keyframes scanline {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100%); }
}

@keyframes textFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* @keyframes noise {
  0% { transform: translate(0,0) }
  10% { transform: translate(-1%,-1%) }
  20% { transform: translate(1%,1%) }
  30% { transform: translate(-2%,0) }
  40% { transform: translate(1%,-1%) }
  50% { transform: translate(-1%,1%) }
  60% { transform: translate(1%,2%) }
  70% { transform: translate(-2%,1%) }
  80% { transform: translate(2%,1%) }
  90% { transform: translate(-1%,1%) }
  100% { transform: translate(1%,-1%) }
} */

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.animate-brutal-text {
  background: linear-gradient(
    90deg, 
    #afff00, 
    #00ff87, 
    #afff00, 
    #ffffff, 
    #afff00
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: textFlow 8s ease infinite;
}

.animate-video-text {
  background: linear-gradient(
    to right,
    #afff00,
    #ffffff,
    #afff00,
    #4ade80,
    #afff00
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: shine 4s linear infinite;
}

.shadow-3d-neon {
  box-shadow: 0 6px 0 0 #76ad00;
}
.shadow-3d-zinc {
  box-shadow: 0 6px 0 0 #18181b;
}

.scanline::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, transparent, rgba(175, 255, 0, 0.05), transparent);
  animation: scanline 8s linear infinite;
  pointer-events: none;
}

::selection {
  background-color: #afff00 !important;
  color: #000000 !important;
}


/* .grain-overlay::before {
  content: "";
  position: fixed;
  top: -100%;
  left: -100%;
  width: 300%;
  height: 300%;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.035;
  pointer-events: none;
  z-index: 50;
  animation: noise 0.5s infinite;
} */

button:hover {
    cursor: pointer !important;
}

